
<link rel = "stylesheet" href = "/css/home.css">
<div class = "page-container">
    <div id = "question-category">
        <h2>All the Question Categories</h2>
    </div>
    <div id = "feed" >
        <h2>All the feed</h2>
        <%if(locals.user){%>
            <h1>Hiiiii, <%= user.name%></h1>
        
            <div id="new-question-container" class = "form-group">
                <form action="/questions/create" method="POST" id="new-question-form">  
                    <div><textarea name="question" id="" cols="60" rows="5" placeholder="Type here to ask..."></textarea></div>
                    <div class="">
                        <div class="">
                            <button type = "submit" class="btn btn-primary">Post Question</button>
                        </div>
                    </div>
                </form>
            </div>
         
        <%}%>

        <div id = "question-container">
            <%for(let question of allQuestions){%>
                <div id = "question-<%= question._id%>" class = "question-card">
                    <div>
                        <strong><%= question.content%></strong>
                    </div>
                    
                    <div class= "question-asker">
                        <p>Asked by <%= question.user.name%></p>
                    </div>

                    <div class = "delete-question-container">
                        <%if(locals.user && locals.user.id == question.user._id){ %>
                            <small>
                                <a class="delete-question-button" href="/questions/delete/<%= question._id%>">Delete</a>
                            </small>
                        <%}%>
                    </div>
                   
                </div>  
            <%}%>
        </div>

    </div>
    <div id = "other-users">
        <h2>All the Users</h2>
    </div>
</div>





